.spacer {
    height: 40px;
}
.field {
    clear: both;
    padding: 5px 0
}

.field .label {
    float: left;
    width: 20%;
    text-align: right;
    padding: 0 5px
}

.field .control {
    float: left;
}

.actions {
    padding: 20px 0;
    clear: both;
    width: 100%;
    text-align: center;
}

.notice {
    padding: 20px;
    border: 1px solid green; 
    background-color: #aee3ae;
}

.error {
    color: red;
    padding: 10px;
    border: 1px solid #666666;
    background-color: #d6d5d5;
}

input, select, textarea{
    font-size: 0.9em;
    padding: 2px;

    border: 1px solid #014464;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#footer a {
    font-size: 0.8em;
    margin: 0 10px;
}

.pagination a, .pagination span, .pagination em, .button {
    font-size: 0.9em;
    padding: 5px 12px;
    margin: 0 10px;
    background-color: #014464;
    text-decoration: none;
    color: white;

    border: 1px solid #368DBE;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;


    -moz-box-shadow: 0 1px 3px black;
    -webkit-box-shadow: 0 1px 3px black;
    box-shadow: 0 1px 3px black;
}

.pagination a, .pagination span, .pagination em, .small {
    padding: 3px 6px;
    margin: 0 3px;
}

.secondary, .pagination span, .pagination em {
    background-color: #999999;
    border-color: black;
}
