body,
html {
    background: #a7a09a;
    font-family: Lucida Sans,serif;
    font-size: 10pt;
}

#wrap {
    width: 98%;
    margin: 0 auto;
}

#header {
    padding: 5px 10px;
    background: #ddd;
}

#header .title {
    font-size: 3em;
    padding: 20px;
}

#main {
    padding: 20px;
    background: #bbcdd5;
}

#footer {
    clear: both;
    padding: 5px 10px;
    background: #fff;
}


.left {
    float: left;
}

.right {
    float: right;
}

table {
    width: 100%
}

th {
    font-weight: bold;
}

th, td {
    font-size: 0.9em;
    height: 2em;
    text-align: left;
    border-bottom: 1px solid;
}

.alt_col {
    color: #006666;
}

h1 {
    margin: 5px;
    font-size: 1.6em;
}
h2 {
    margin: 5px;
    font-size: 1.4em;
}
h3 {
    margin: 5px;
    font-size: 1.2em;
}