!!! Strict
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title RecruitMe - ThoughtWorks Recruiting
    = stylesheet_link_tag 'screen', 'nav', 'form'
    = javascript_include_tag 'jquery.min', 'rails'
  %body
    #wrap
      #header
        %h1 RecruitMe
      #nav
        %ul
          %li
            %a{:href => candidates_path('filter[status]' => 'In Progress')} In Progress Candidates
          %li
            %a{:href => new_candidate_path} New Candidate
          %li
            %a{:href => "/"} Option 3
          %li
            %a{:href => "/"} Option 4
          %li.right
            %form{:action => candidates_path}
              %input{:name => 'filter[name]'}
              %input{:type => "submit", :value => 'Search Candidate'} 
      #main
        = yield
      #footer
        %p Footer