!!! Strict
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title RecruitMe - ThoughtWorks Recruiting
    = stylesheet_link_tag 'reset-min','screen', 'nav', 'form'
    = javascript_include_tag 'jquery.min', 'rails'
  %body
    #wrap
      #header
        .title RecruitMe
      #nav
        %ul
          %li
            %a{:href => candidates_path('filter[status]' => 'In Progress')} In Progress Candidates
          %li
            %a{:href => new_candidate_path} New Candidate
          %li
            %a{:href => "/"} Schedule Interview
          %li.right
            .left.search
              %form{:action => candidates_path}
                %input{:name => 'filter[name]', :size => 30}
                %input{:type => "submit", :value => 'Search Candidate', :class => "submit"}
      #main
        = yield
      #footer
        %p @copyright ThoughtWorks Inc.